@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

:root{
    --fonte-principal: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;

    --cor-principal: #898989;
    --cor-secundaria: #000;
    --cor-terceira: #ffffff;
    --cor-quarta: #000000cb;

    --tamanho-principal: 1.5rem;
    --tamanho-secundario: 2.5rem;
}